---
import "@/styles/globals.css";
import Navbar from "@/components/Navbar.astro";
import Hero from "@/components/Hero.astro";
import About from "@/components/About.astro";
import Icons from "@/components/Icons.astro";
import Projects from "@/components/Projects.astro";
import ToTheTop from "@/components/ui/ToTheTop.astro";
import Footer from "@/components/Footer.astro";
---

<html lang="en" class="scroll-smooth" data-testid="html">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/M.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Mohamed Aziz Karoui | Software Developer</title>
  </head>
  <body class="bg-slate-900 text-slate-200 font-mono">
    <Navbar />
    <main class="flex items-center justify-center flex-col gap-20 lg:px-20">
      <Hero />
      <About />
      <Projects />
      <div class="hidden lg:flex"><Icons /></div>
      <ToTheTop />
      <Footer />
    </main>
  </body>
</html>
