---
import {Image} from "astro:assets";
import projectImage from "@/assets/project.png";
---

<section id="about" class="flex items-center justify-center flex-col">
  <div>
    <div class="flex w-full flex-col items-center justify-center">
      <h2
        class="font-monospace w-full text-3xl text-orange lg:text-4xl text-sky-600 font-bold"
      >
        About me
      </h2>
      <span class="mb-6 ml-2 h-1 w-10 bg-sky-600"></span>
    </div>
  </div>
  <div
    class="mb-10 mt-20 flex flex-col items-center justify-center lg:mb-0 lg:flex-row"
  >
    <div
      class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2"
    >
      <!-- <Image
        alt="A Programmer on a Computer"
        width={400}
        height={400}
        format="webp"
        src="/Programmer-Engineering-Development-Illustration-on-transparent-background-PNG.png"
      /> -->
      <Image
        alt="A Programmer on a Computer"
        width={400}
        height={400}
        format="webp"
        src="/project.webp"
      />
    </div>

    <div class="w-full text-justify">
      <div class="mb-2 px-8 lg:px-16 flex flex-col gap-4">
        <p class="text-xs leading-7">
          I am a dynamic and adaptable software developer with expertise in both
          front-end and back-end technologies. Proficient in programming
          languages such as JavaScript/TypeScript, Java and C#.
        </p>
        <p>
          In my spare time, I build side projects using a lightweight framework
          like Astro for the front-end and Java (Spring) or C# (ASP.NET) for the
          back-end.
        </p>
        <p>
          Meanwhile, during my professional job, I work on full-stack JavaScript
          projects, whether it's React for the front-end and Node.js (Express)
          for the back-end or fully using Next.js for both.
        </p>
        <h3 class="text-center font-bold text-xl italic">"Simple is Better"</h3>
        <p>
          That's my motto for design. I like using Tailwind to build beautiful
          and simple UI.
        </p>
        <p class="text-xs leading-7">
          Fluent in Arabic, English and French, I possess professional
          proficiency in all three languages.
        </p>
        <p class="text-xs leading-7">
          Feel free to connect with me to explore potential collaborations and
          discuss exciting opportunities, whether it be freelance, online or
          abroad.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  p {
    font-size: 1.4rem;
  }
</style>
