---

---

<section id="about" class="flex items-center justify-center flex-col">
  <div>
    <div class="flex w-full flex-col items-center justify-center">
      <h2
        class="font-monospace w-full text-2xl text-orange lg:text-4xl text-sky-600 font-bold"
      >
        About me
      </h2>
      <span class="mb-6 ml-2 h-1 w-10 bg-sky-600"></span>
    </div>
  </div>
  <div
    class="mb-10 mt-20 flex flex-col items-center justify-center lg:mb-0 lg:flex-row"
  >
    <div
      class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2"
    >
      <img />
    </div>

    <div class="w-full text-justify">
      <div class="mb-2 px-8 lg:px-16 flex flex-col gap-4">
        <p>
          I am a dynamic and skilled software developer with expertise in both
          front-end and back-end technologies. Proficient in languages such as
          JavaScript, TypeScript, Java, and C#, I have successfully contributed
          to the development of dynamic and responsive websites using frameworks
          like Next.js, React, and Tailwind.
        </p>
        <p>
          In my role as a Junior Front-End Developer at Zeta Technologies, I
          actively participated in collaborative projects, enhancing web
          applications with new features and optimizing code for improved
          performance. My experience extends beyond front-end development to IT
          infrastructure, where I played a key role in establishing networks and
          implementing systems using technologies like Ubuntu Server and KVM.
        </p><p>
          I bring a well-rounded skill set, drawing from practical experiences
          as a Software Developer Intern at Media Concept, where I designed
          Windows applications, and as a Mobile Developer Intern at Sama
          Consulting, where I contributed to mobile app development using Java.
        </p><p>
          Complementing my professional experiences is my academic journey,
          which includes earning a Master's Degree in Computer Science and
          Electronics from ISTIC University. My commitment to academic
          excellence is underscored by certifications such as the Meta Front-End
          Developer Certificate, Meta Back-End Developer Certificate, and IBM
          Full-Stack Software Developer Certificate.
        </p><p>
          Fluent in Arabic, English, and French, I possess professional
          proficiency in all three languages, as demonstrated by certifications
          such as TOEIC L&R and DELF B2.
        </p><p>
          I am enthusiastic about contributing my skills to innovative projects
          and am open to opportunities both online and abroad. My diverse
          experiences, commitment to academic and professional growth, and
          up-to-date knowledge of the latest technologies make me a valuable
          asset to any development team. Feel free to connect with me to explore
          potential collaborations and discuss exciting opportunities.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  p {
    font-size: 1.4rem;
  }
</style>
