<footer class="p-6 text-center text-sm">
  <p>
    Copyright © {new Date().getFullYear()}. All rights reserved. Made by <a
      href="https://github.com/veranikabarel"
      target="_blank"
      rel="noopener"
    >
      <span class="text-sky-600"> Mohamed Aziz Karoui</span>
    </a>
    | <a href="mailto:contact.mohamedazizkaroui@gmail.Com">
      contact.mohamedazizkaroui@gmail.com</a
    >
  </p>
</footer>
