---
import {Image} from "astro:assets";
import Icons from "./Icons.astro";
---

<section
  id="hero"
  class="flex pt-36 2xl:px-60 xl:px-52 flex-col-reverse items-center justify-center text-center lg:flex-row"
>
  <div class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:w-3/5">
    <div class="flex justify-center items-center">
      <h1 class="mb-10 mx-6 font-monospace text-3xl lg:text-4xl">
        Hi! My name is <span class="text-sky-600 font-extrabold"
          >Mohamed Aziz Karoui</span
        > and I am a Software Engineer based in Tunisia.
      </h1>
    </div>
    <div class="mb-10 lg:hidden">
      <Icons />
    </div>
  </div>
  <div
    id="hero-img"
    class="mb-10 flex w-2/5 items-center justify-center rounded-full"
  >
    <Image
      src="/portfolio/images/mypicture.webp"
      class="rounded-full"
      alt="Face of Mohamed Aziz Karoui"
      width={350}
      height={350}
      format="webp"
      loading="eager"
    />
  </div>
</section>
