---
import {Picture} from "astro:assets";
---

<section
  class="lg:fixed lg:bottom-0 lg:left-10 lg:pb-0 flex lg:flex-col flex-row items-center justify-center flex-wrap gap-4"
>
  <a href="https://github.com/MAiKo26" target="_blank">
    <Picture src="/github.svg" alt="github logo" width={35} height={35} /></a
  >
  <a href="https://www.linkedin.com/in/mohamed-aziz-karoui/" target="_blank">
    <Picture src="/linkedin.svg" alt="github logo" width={35} height={35} /></a
  >
  <a href="https://twitter.com/maiko1419" target="_blank">
    <Picture src="/twitter.svg" alt="github logo" width={35} height={35} /></a
  >
  <a href="mailto:contact.mohamedazizkaroui@gmail.Com">
    <Picture src="/mail.svg" alt="github logo" width={35} height={35} /></a
  >
  <div class="hidden lg:block bg-sky-600 h-28 w-1"></div>
</section>
